COMPOSE_PROJECT_NAME=ultimate-jenkins-devops
JENKINS_ADMIN_ID=admin
JENKINS_ADMIN_PASSWORD=admin123-change-me
GITEA_ADMIN_USER=gitea-admin
GITEA_ADMIN_PASSWORD=gitea123-change-me
GITEA_ADMIN_EMAIL=admin@lab.local
JENKINS_AGENT_NAME=local-linux-agent
JENKINS_AGENT_EXECUTORS=2
